<div id="item-detail-reglmt" class="ion-padding-horizontal">
  <ion-row class="ion-align-items-center">
    <ion-col size="2" class="icon_style">
      <ion-icon name="cash-outline" size="large"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <ion-text color="secondary">
            <h3>50 000 FCFA</h3>
          </ion-text>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <ion-row class="ion-align-items-center" class="ion-justify-content-between">
            <ion-col size="8" class="ion-no-padding">
              <ion-text>Date de création</ion-text>
              <span>19/11/2021</span>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-text>En attente </ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
