<app-header
  boxStyle="background-color: var(--ion-color-primary)"
  iconSize="large"
  iconColor="light"
  navigate="profil"
  headerTitle=""
  iconName="chevron-back-outline" >
</app-header>
<ion-content>
  <ion-row class="ion-padding-top">
    <ion-col size="12">
      <div class="img-box">
        <div class="box-ctnt">
          <img src="assets/images/user_img.png">
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row id="user-detail">
    <ion-col size="12" class="ion-padding">
      <ion-row>
        <ion-col size="12">
         <ion-text color="secondary">
           <h3>Nom</h3>
         </ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-text color="primary">
            <h3>{{userProfil.nom}} {{userProfil.prenom}}</h3>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-text color="secondary">
            <h3>Date de naissance</h3>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text color="primary">
            <h3>{{userProfil.dateNaissance|date:'dd/MM/yyyy'}}</h3>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-text color="secondary">
            <h3>Lieu de naissance</h3>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text color="primary">
            <h3>{{userProfil.lieuNaissance}}</h3>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-text color="secondary">
            <h3>Téléphone</h3>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text color="primary">
            <h3>{{userProfil.telephone}}</h3>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-text color="secondary">
            <h3>Nationalité</h3>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text color="primary">
            <h3>{{userProfil.nationalite}}</h3>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-top ion-align-items-center" (click)="onEditProfil()">
        <ion-col size="2">
          <div class="edit-btn">
            <ion-icon color="secondary" size="large" slot="start" name="create-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="4">
          <ion-text color="primary">
            <h3>Modifier</h3>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
