.header-box {
  padding: 5px;
}

// .ios-header {
//   padding-top: 30px !important;
// }

ion-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--ion-color-primary-contrast);
}
