<div id="item-impaye-component" [class]="backgroundStyle">
  <ion-row class="ion-align-items-center">
    <ion-col size="10">
      <ion-text color="secondary">
        <h3>
          {{'DETAIL_CONTRAT_SCREEN.tableSlider.slideImpaye.content.itemPeesrions.amount'|translate}}
          {{data.montantQuittance | number}} {{devise}}</h3>
      </ion-text>
      <ion-text color="primary">
        <span>
          {{'DETAIL_CONTRAT_SCREEN.tableSlider.slideImpaye.content.itemPeesrions.prestDate'|translate}}
          {{data.debutPeriode|date:'dd/MM/yyyy'}}
          {{'DETAIL_CONTRAT_SCREEN.tableSlider.slideImpaye.content.itemPeesrions.prestEnd'|translate}}
          {{data.finPeriode|date:'dd/MM/yyyy'}} </span>
      </ion-text>
      <ion-text color="primary">
        <span>{{data.libellePolice}}</span>
      </ion-text>
      <ion-text *ngIf="!isPadding" class="border-style" color="primary">
        <span>N°Police {{data.numeroPolice}}</span>/
        <span>N°Quittance {{data.numeroQuittance}}</span>
      </ion-text>
      <ion-text *ngIf="isPadding" class="border-style" color="primary">
        <span>{{data.etatQuittance}} ...</span>
      </ion-text>
    </ion-col>
    <ion-col *ngIf="!isPadding" size="2" (click)="toggleSelect()">
      <ion-checkbox color="secondary" checked={{data.selected}}></ion-checkbox>
    </ion-col>
    <ion-col *ngIf="isPadding" size="2" >
      <ion-icon size="large" name="timer-outline"></ion-icon>
    </ion-col>
  </ion-row>
</div>
