ion-searchbar {
  padding: 0;
  box-shadow: none;
  --placeholder-color: "var(--ion-color-primary)";
  --box-shadow: none;
  --border-radius: 5px;
  border-radius: 15px;
  margin-bottom: 15px;
}

::ng-deep .searchbar-input {
  --background: #fff;
}
